<!DOCTYPE html>
<html lang="en " xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }


    </style>
</head>
<body>

<h2>Order Details</h2>


<table style="width:100%">
    <caption></caption>
    <tr>
        <th>Id</th>
        <th>Address Id</th>
        <th>Track Id</th>
        <th>Payment Id</th>
        <th> User Id</th>
        <th>Status</th>
        <th>Order Date</th>
        <th>Delete</th>

    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button style="background: blue;border-radius: 50%">Delete</button></td>



</table>
</body>
</html>
