<!DOCTYPE html>
<html lang="en " xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }


    </style>
</head>
<body>

<h2>User</h2>


<table style="width:100%">
    <caption>Funtional Users</caption>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th> Cell Number</th>
        <th>Address</th>
        <th>Status</th>
        <th>Delete</th>

    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button style="background: blue;border-radius: 50%">Delete</button></td>



</table>

</body>
</html>
